/* se reemplazo un un style general en style.css


.presentacion {
    grid-area: presentacion;
    position:static;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
    grid-template-areas: 
    "titulo titulo foto"
    "descripcion descripcion foto"
    "redes redes foto";
    width: 85vw;
    margin: 0% 5%;
    height: auto;
    background: #464646;
    justify-content:space-between;
} */

.presentacion{
    grid-area: presentacion;
    flex-direction: row;
    box-shadow: #1f1f1f 5px 8px 12px;
}

        
.presentacion_container {   
    font-family: "Raleway", sans-serif;
    color: #27b7ca;
    background: #464646;
    width: 50rem;

}

.presentacion_titulo {
    grid-area: titulo;
    font-size: 2.2rem;
    margin: 2rem 2rem 0px 2rem;
    text-shadow: #000000 5px 5px 5px;
    background: #464646;
    text-align: left;
}

.presentacion_texto {
    grid-area: descripcion;
    font-size: 1rem;
    text-shadow: #000000 5px 5px 5px;
    padding: 34px;
    background: #464646;
    text-align: left;
}

.presentacion_img {
    width: 30vw;
    grid-area: foto;
    background: #464646;
}
.presentacion_img__fotoPerfil{
    width: 25vw;
    margin: 7% 5%;
    background: #464646;
}

.social {
    grid-area: redes;
    display: inline-flex;
    padding: 20px;
    justify-content: space-between;
    background: #464646;
}

.social_links {
    width: 8rem;
    font-size: 1.2rem;
    margin: 0px 5px;
    color: aqua;
    background: #464646;
    text-decoration: none;
    list-style: none;
    text-shadow: #000000 5px 5px 5px;
}
a{
    background: #464646;
    color: #27b7ca;
    
}
i{
    background: #464646;
}

@media screen and (max-width: 720px){
    .presentacion_titulo{
        font-size: 1.7rem;
        text-align:left;
    }

    .presentacion_container{
        width: 90%;
    }

    .presentacion{
        flex-direction: column;
    }
    .social{
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
    .social_links{
        padding: 25px;
    }
}

@media screen and (max-width: 375px){
    .social_links{
        padding: 5px;
    }
}
