* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    border: border-box;
    background: #838282;
    
}
html {
    width: 100%;
    height: auto;
    background: #838282;
}

body {
    width: 100%;
    height: auto;
    margin-left:0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 8fr;
    grid-template-areas: 
    "encabezado encabezado "
    "presentacion presentacion"
    "sobre sobre"
    "sYh sYh"
    "academico academico"
    "proyectos proyectos"
    "form_contacto form_contacto"
    "footer footer";
    grid-gap: 10px;
    background: #838282;
    display: flex;
    flex-direction: column;
}

@media screen and(max-width:720px) {
    body,.header, .presentacion, .sobre, 
    .sYh_container, .academico, .proyectos, 
    .form_contacto, .footer_content {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 720px;
    }
}

@media screen and(max-width:415px) {
    body,.header, .presentacion, .sobre, 
    .sYh_container, .academico, .proyectos, 
    .form_contacto, .footer_content {
        max-width: 375px;
    }
}

.header, .presentacion, .sobre, 
.sYh_container, .academico, .proyectos, 
.form_contacto, .footer_content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px 85px;
    padding: 0px;
    grid-template-columns: 1fr 1fr;
    
   
    max-width: 95vw;
    background: #464646;
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}